body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 23px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  color: white;
  text-shadow: -1.4px 0 black, 0 1.4px black, 1.4px 0 black, 0 -1.4px black;
}
h1 {
  font-size: 40px;
  line-height: 0.3;
  margin-top: 15px;
  margin-bottom: 20px;
}

#pokeSearch-page {
  text-align: center;
}

img {
  height: auto;
  display: inline-block;
}

@media only screen and (min-width: 1025px){
  .Stats {
    position: absolute;
    width: 350px;
    left: 7%;
    top: 17%;
  }
}

progress {
  width: 250px;
  height: 10px;
  -webkit-appearance: none;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.Stats {
  font-size: 15px;
}

.Stats > p {
  margin-top: 1px;
  margin-bottom: -8.2px;
}
